<html>
    <head>
    	<link rel="stylesheet" href="/media/css/Bootstrap.css">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css" />
		<link rel="stylesheet" href="/media/css/jqm-icon-pack-1.1.1-fa.css">
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <title>Foursquare OAuth Example</title>
    </head>
  	<body>
    <div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline" data-theme="e">
			<h1>Grably</h1>
        </div>
    	<div data-role="content" data-theme="a">
    		<h2>Forms</h2>
				<form action="/foursq_auth/process/" method="post">
					<div data-role="fieldcontain">
						<label for="twitter_handle">Twitter Handle:</label>
						<input type="text" placeholder="@manosaie" name="twitter_handle" id="twitter_handle" value="" />
						<input type= "submit" data-role="button" data-theme="e" data-icon="off" rel="external" value="Login">
					</div>
				</form>
		</div>
	<div>
	</head>
</html>

